html {
  font-family: 'Roboto';
  user-select: none;
}
body {
  background: rgb(85, 144, 189);
  background: linear-gradient(
      90deg,
    rgba(85, 144, 189, 1) 0%,
    rgba(108, 183, 240, 1) 54%,
    rgba(182, 216, 242, 1) 82%
  );
  }
  
.title {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.button-panel {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.boton-generacion {
  background: linear-gradient(
    90deg,
    rgba(85, 144, 189, 1) 0%,
    rgba(108, 183, 240, 1) 54%,
    rgba(182, 216, 242, 1) 82%
  );
  height:32px;
  width:143px;
  border-radius: 5px;
}
  
.pokemon-container {
  position:relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align:center;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
  
.pokemon-block {
  border-radius: 50px;
  border: 1px solid white;
  padding: 10px;
  text-align:center;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-block img {
  height:100%;
  width:100%;
}

  
.img-container {
  background-repeat: no-repeat;
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.247);
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  filter: contrast(20px);
}

  
.pokemon-block p {
  margin: 5px;
  text-align:center;
}

.name {
  text-transform: capitalize;
  text-align:center;
  font-weight: bold;
  font-size: 1.2rem;
}

.input-container {
  margin-top: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#buscador {
  width:420px;
  height: 40px;
  padding:10px;
  border-radius: 20px;
  margin-left:auto;
  margin-right:auto;
  font-weight: 500;
}

#buscador::placeholder {
  color:rgb(52, 52, 155);
}

#buscador:active::placeholder,
#buscador:hover::placeholder,
#buscador:focus::placeholder {
  opacity:0;
  cursor:text;
}  

.filtro {
  display: none;
}



.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-container {
  transform: rotateY(180deg);
  cursor: pointer;
}

.pokemon-block-back {
  background-color: white;
  backface-visibility: hidden;
  width:100%;
  height:100%;
  padding: 10px;
  transform: rotateY(180deg);
  position: absolute;
  top: 0%;
  border-radius: 50px;
  
}

.stat-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}